.profile-page {
  width: 100%;
  max-width: 940px;
  > .content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .text-with-header {
      line-height: 1.1;
      > .text-header {
        color: #888;
        font-size: 60%;
        margin-bottom: 3px;
      }
    }
    > .top-controls {
      align-self: stretch;
      display: flex;
      flex-direction: row;
      padding: 10px 10px 0 10px;
      .beta {
        font-size: 80%;
        padding-right: 10px;
      }
    }
    > .profile {
      width: 100%;
      padding: 0 15px;
      > .profile-header {
        display: flex;
        flex-flow: row wrap;
        font-size: 150%;
        padding: 10px;
        padding-left: 40px;
        border-bottom: 1px solid #ccc;
        > div + div {
          margin-left: 40px;
        }
      }
      > .levels-chart {
        height: 400px;
      }
      > .history-chart {
        height: 300px;
      }
    }
  }
  .history-tooltip {
    background: #333;
    border: 1px solid #222;
    border-radius: 6px;
    padding: 6px 8px 3px 8px;
  }
}
//
// @media screen and (max-width: 900px) {
// }
