.profile-page {
  width: 100%;
  max-width: 940px;
  > .content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    > .top-controls {
      align-self: stretch;
      display: flex;
      flex-direction: row;
      padding: 10px 10px 0 10px;
      .beta {
        font-size: 80%;
        padding-right: 10px;
      }
    }
    > .profile {
      width: 100%;
      > .profile-header {
        font-size: 150%;
        padding: 20px;
        padding-left: 40px;
      }
    }
  }
  .history-tooltip {
    background: #333;
    border: 1px solid #222;
    border-radius: 6px;
    padding: 6px 8px 3px 8px;
  }
}
//
// @media screen and (max-width: 900px) {
// }
