.rankings {
  .filters {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    > div {
      margin-right: 10px;
    }
    input.form-control {
      height: 30px;
      &::placeholder {
        font-size: 12px;
      }
    }
    .filter-charts-button {
      width: 95px;
    }
  }
  .top-list {
    > .song-block {
      background: #353535;
      border-radius: 10px;
      margin-bottom: 8px;
      padding: 8px;
      display: flex;
      > .song-name {
        flex: 0 0 200px;
        font-size: 20px;
        font-weight: 600;
      }
      > .charts {
        flex: 1 1 auto;
        display: flex;
        flex-flow: column nowrap;
        > .chart {
          background: #424242;
          padding: 8px;
          display: flex;
          flex-flow: row wrap;
          border-radius: 10px;
          margin-bottom: 8px;
          &:last-child {
            margin-bottom: 0;
          }
          > .chart-name {
            font-weight: 600;
            flex: 0 0 50px;
            background: #169c16;
            width: 50px;
            height: 50px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 25px;
            margin-right: 20px;
            > .chart-separator {
              width: 2px;
            }
            &.single {
              background: #af2928;
            }
          }
          > .results {
            tr {
              &:nth-child(even) {
                background: #4b4b4b;
              }
            }
            td,
            th {
              padding: 2px 4px 0 4px;
              &.place {
                color: #888;
              }
              &.date {
                color: #888;
                font-size: 15px;
              }
              &.nickname {
                width: 190px;
              }
              &.accuracy {
                width: 75px;
                text-align: right;
                font-size: 15px;
              }
              &.score {
                width: 110px;
                text-align: right;
              }
              &.number {
                width: 54px;
                text-align: center;
              }
              &.combo {
                width: 60px;
                font-size: 15px;
              }
              &.rank {
                width: 30px;
                text-align: center;
              }
              &.miss {
                background: rgba(255, 0, 0, 0.05);
              }
              &.bad {
                background: rgba(255, 0, 255, 0.05);
              }
              &.good {
                background: rgba(255, 255, 0, 0.05);
              }
              &.great {
                background: rgba(0, 255, 0, 0.05);
              }
              &.perfect {
                background: rgba(0, 255, 255, 0.05);
              }
              &.rank.vj {
                background: rgba(255, 0, 0, 0.1);
                font-weight: 600;
              }
            }
            th {
              padding: 0 4px 3px 4px;
              line-height: 12px;
              font-size: 12px !important;
              font-weight: 400;
              color: #999;
            }
          }
        }
      }
    }
  }
}

.chart-range-overlay {
  padding: 10px 15px;
  width: 200px;
  height: 80px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  > .buttons {
    display: flex;
    flex-flow: row nowrap;
    width: 90px;
    justify-content: space-between;
    padding-bottom: 8px;
    > .toggle-button {
      width: 35px;
      height: 35px;
      font-size: 18px;
      font-weight: 600;
    }
  }
}
