.rankings {
  width: auto;
  max-width: 967px;
  header {
    padding: 10px 10px 0 10px;
    font-size: 26px;
    color: #666;
  }
  .red-border {
    border: 1px solid darkred;
  }
  .search-block {
    padding: 0 10px;
  }
  .filters {
    .people-filters {
      margin-bottom: 5px;
    }
    .players-block {
      display: flex;
      flex-flow: row wrap;
      > div {
        flex-basis: 190px;
      }
      .select {
        width: auto;
      }
    }
  }
  .sortings {
    > div {
      margin-bottom: 5px;
    }
  }
  .simple-search {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    padding: 10px 0;
    > .song-name > input {
      width: 190px;
    }
    input.form-control {
      height: 30px;
      &::placeholder {
        font-size: 12px;
      }
    }
    .filter-charts-button {
      width: 120px;
    }
  }
  .top-list {
    margin-top: 14px;
    > .song-block {
      background: #353535;
      border-radius: 10px;
      margin-bottom: 8px;
      padding: 8px;
      display: flex;
      // flex-flow: row nowrap;
      flex-flow: row wrap;

      > .song-name {
        > .chart-name {
          height: 25px;
          border-radius: 5px;
          margin-left: 0;
        }
      }

      > .song-name {
        font-size: 100%;
        font-weight: 600;
        margin-bottom: 6px;
        display: flex;
        align-items: baseline;
        // justify-content: space-between;
        // flex: 0 0 260px;
        flex-direction: row;
        justify-content: flex-start;
        flex: 0 0 100%;

        > .chart-name {
          font-weight: 600;
          line-height: 100%;
          flex: 0 0 50px;
          background: #169c16;
          width: 50px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;
          // border-radius: 25px;
          // margin-left: 10px;
          // height: 50px;
          height: 25px;
          border-radius: 5px;
          margin-left: 0;

          > .chart-separator {
            width: 2px;
          }
          &.single {
            background: #af2928;
          }
        }
      }
      > .charts {
        flex: 0 1 auto;
        display: flex;
        flex-flow: column nowrap;
        > .chart {
          background: #424242;
          padding: 8px;
          display: flex;
          flex-flow: row wrap;
          border-radius: 10px;
          margin-bottom: 8px;
          &:last-child {
            margin-bottom: 0;
          }
          > .results {
            position: relative;
            td,
            th {
              padding: 2px 4px 0 4px;
              &.place {
                color: #888;
                width: 33px;
              }
              &.grade {
                width: 41px;
                .img-holder {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  img {
                    height: 16px;
                  }
                }
              }
              &.date {
                color: #c9c9c9;
                font-size: 65%;
                width: 125px;
                text-align: right;
                &.latest {
                  color: #bef993;
                }
              }
              &.nickname {
                width: 190px;
              }
              &.accuracy {
                width: 75px;
                text-align: right;
                font-size: 80%;
              }
              &.score {
                width: 110px;
                text-align: right;
              }
              &.number {
                width: 54px;
                text-align: center;
              }
              &.combo {
                width: 60px;
                font-size: 80%;
              }
              &.rank {
                width: 30px;
                text-align: center;
              }
              &.rank.vj {
                background: rgba(255, 0, 0, 0.18);
                font-weight: 600;
              }
            }
            tbody {
              tr {
                &:nth-child(even) {
                  background: #4b4b4b;
                }
                &.empty td {
                  &.rank {
                    opacity: 0.7;
                  }
                  &.date {
                    color: #888;
                    &.latest {
                      color: #bef99352;
                    }
                  }
                }
                &:not(.empty) td {
                  &.miss {
                    background: rgba(255, 0, 0, 0.04);
                  }
                  &.bad {
                    background: rgba(255, 0, 255, 0.04);
                  }
                  &.good {
                    background: rgba(255, 255, 0, 0.04);
                  }
                  &.great {
                    background: rgba(0, 255, 0, 0.04);
                  }
                  &.perfect {
                    background: rgba(0, 255, 255, 0.04);
                  }
                }
              }
            }
            thead {
              position: relative;
              tr {
                position: absolute;
                top: -28px;
              }
              th {
                padding: 0 4px 3px 4px;
                line-height: 12px;
                font-size: 60% !important;
                font-weight: 400;
                color: #999;
              }
            }
          }
        }
      }
    }
  }
}

.timeago-tooltip {
  background: #333;
  border: 1px solid #292929;
  border-radius: 7px;
  font-size: 14px;
  padding-top: 2px;
  height: auto;
}

// @media screen and (max-width: 1255px) {
//   .rankings .top-list > .song-block {
//     flex-wrap: wrap;
//     > .song-name {
//       flex-direction: row-reverse;
//       justify-content: flex-end;
//       flex: 0 0 100%;
//       > .chart-name {
//         height: 25px;
//         border-radius: 5px;
//         margin-left: 0;
//       }
//     }
//   }
// }

@media screen and (max-width: 900px) {
  .container {
    padding-right: 1.5vw;
    padding-left: 1.5vw;
  }
  .timeago-tooltip {
    font-size: 100%;
  }
  .rankings {
    .top-list > .song-block {
      padding: 1vw;
      border-radius: 1vw;
      > .song-name {
        > .chart-name {
          margin-right: 1vw;
          width: 5.4vw;
          height: 3vw;
          flex: 0 0 5.4vw;
          border-radius: 0.6vw;
        }
      }
      > .charts > .chart {
        padding: 1vw;
        border-radius: 1vw;
        > .results {
          td,
          th {
            padding: 1.5px;
            &.grade .img-holder img {
              height: 1.8vw;
            }
          }
          thead tr {
            position: static;
          }
        }
      }
    }
    .collapsible-bar .header {
      font-size: 12px;
    }
    .filters,
    .sortings {
      label {
        font-size: 12px;
        margin: 3px 2px;
      }
    }
  }
}

.chart-range-overlay-outer {
  width: 300px;
  max-width: 100%;

  .chart-range-overlay {
    padding: 10px 15px;
    width: 100%;
    height: 120px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    > .buttons {
      display: flex;
      flex-flow: row nowrap;
      width: 90px;
      justify-content: space-between;
      padding-bottom: 8px;
      > .toggle-button {
        width: 35px;
        height: 35px;
        font-size: 18px;
        font-weight: 600;
      }
    }
    > .inputs {
      display: flex;
      width: 100%;
      margin-top: 10px;
      > input {
        width: 45px;
        border-color: #777;
      }
      > .btn {
        width: 22px;
        padding: 5px 0 0 0;
        font-size: 80%;
      }
    }
  }
}
