.rankings {
  .filter-charts-button {
    width: 85px;
  }
  .rt-th {
    overflow: visible;
  }
}

.chart-range-overlay {
  padding: 10px 15px;
  width: 200px;
  height: 80px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  > .buttons {
    display: flex;
    flex-flow: row nowrap;
    width: 90px;
    justify-content: space-between;
    padding-bottom: 8px;
    > .toggle-button {
      width: 35px;
      height: 35px;
      font-size: 18px;
      font-weight: 600;
    }
  }
}
