@import 'utils/css/helpers';

.container {
  padding-bottom: 40px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  min-height: 100%;

  > .loader {
    margin-top: 20px;
  }
}

.pumpking-tooltip {
  background: #333;
  border: 1px solid white;
  border-radius: 7px;
  padding-top: 2px;
  height: auto;
  z-index: 4;
  font-size: 14px;
  max-width: 260px;
  text-align: center;
}

.exp-rank {
  img {
    width: 100%;
    &.green {
      filter: drop-shadow(0px 0px 3px green);
    }
    &.gold {
      filter: drop-shadow(0px 0px 3px gold);
    }
    &.silver {
      filter: drop-shadow(0px 0px 2px #fff5);
    }
  }
}

.link-style {
  color: #a7c3f7;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.Modal {
  max-width: 90%;
  margin: auto;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #555;
  background-color: #353535;
  outline: none;
  .close-btn {
    float: right;
    cursor: pointer;
    border: 1px solid #aaa;
    height: 2em;
    width: 2em;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1119;
  display: flex;
  z-index: 5;
}

@media screen and (max-width: 900px) {
  .pumpking-tooltip {
    font-size: 100%;
  }
}
